.header {
    text-align: center;
    height: 60px;
}

.header h1 {
    line-height: 60px;
    font-weight: bold;
    max-width: 800px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block: 0;
}
