.allsheets {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 10px;
}

.allsheets > tbody > tr:nth-child(even) {
    background-color: rgb(var(--colour-dark-charcoal));
}

.allsheets > tbody > tr:nth-child(odd) {
    background-color: rgb(var(--colour-davys-grey));
}

.allsheets td:nth-child(2) {
    width: 100px;
}
