.wrapper {
    max-width: 100%;
    overflow-x: auto;
}

.singleaxis,
.doubleaxis {
    font-size: 18px;
    display: inline-table;
    margin-inline: auto;
    border: 1px white solid;
}

.singleaxis th,
.singleaxis td,
.doubleaxis td,
.doubleaxis th {
    padding: 3px 5px;
}

.singleaxis td {
    background-color: rgb(var(--colour-davys-grey));
}

.singleaxis td:empty::before {
    content: "";
    display: inline-block;
}

.doubleaxis tr:nth-child(odd) td {
    background-color: rgb(var(--colour-davys-grey));
}

.doubleaxis tr:nth-child(even) td {
    background-color: rgb(var(--colour-dark-charcoal));
}
