.sheetrow {
    background-color: rgb(var(--colour-light-ash));
    cursor: pointer;
    user-select: none;
}

.paddedcell {
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    float: right;
    width: 0;
    overflow: hidden;
}

.sheetrow:hover .actions {
    width: auto;
    overflow: visible;
}

.actionButton {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: rgba(var(--colour-pearl), 0.15);
    color: rgb(var(--colour-pearl));
    cursor: pointer;
    user-select: none;
    padding: 0;
    font-family: inherit;
}

.actionButton:hover {
    background-color: rgba(var(--colour-pearl), 0.35);
}
