<html>
    <head>
        <title>ProKartuli</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/select_box.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/select_translator.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/languages/select_languages.js') }}"></script>
    </head>

    <body>
        {% include 'components/topbar.html' %}
        <div id="main">
            <form style="height: 300px; margin-left: 5px;" method="POST">
                <div style="margin-bottom: 10px;">
                    <p>
                        Translate from:
                    </p>
                </div>
                <div style="display: inline-block; width: 300px;">
                    <div id="translate_from" class="custom-select">
                        <select autocomplete="off" name="translate_from">
                            <option value="0">Pick language:</option>
                            {% for i, (id, language, flag) in languages %}
                                <option value="{{ id }}">
                                    {{ flag }} {{ language }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <p>
                        Translate to:
                    </p>
                </div>
                <div style="display: inline-block; width: 300px;">
                    <div id="translate_to" class="custom-select">
                        <select autocomplete="off" name="translate_to">
                            <option value="0">Pick language:</option>
                            {% for i, (id, language, flag) in languages %}
                                <option value="{{ id }}">
                                    {{ flag }} {{ language }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="save_button" style="margin-top: 10px;">
                    <button class="button button-disabled">Save</button>
                </div>

            </form>
        </div>
        <footer>
            <div style="margin-top: 10px; margin-bottom: 10px;">Copyright © 2020 – Elliot Paton-Simpson</div>
        </footer>
    </body>
</html>

