.header {
    cursor: pointer;
    font-size: 40px;
}

.header:hover {
    background-color: rgb(var(--colour-dark-charcoal));
}

.input {
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
}
