<html onclick="closeAllSelect();">
    <head>
        <title>Prokart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/languages/languages.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/languages/edit_languages.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/select_translator.js') }}"></script>
    </head>

    <body>
        {% include 'components/topbar.html' %}
        <div id="main" class="main" tabindex="-1">
            <div style="margin-left: 5px; margin-top: 5px;">
                <p>
                    <button id="modify-languages" class="button" onclick="showEditLanguagesInterface();">Modify languages</button>
                </p>
                <p>Translate from:</p>
                <div style="display: inline-block; width: 300px;">
                    <div id="translate-from" class="custom-select">
                        <select autocomplete="off">
                            <option value="0">Pick language:</option>
                            {% for i, (id, language, flag) in languages %}
                                <option value="{{ id }}">
                                    {{ flag }} {{ language }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <p>Translate to:</p>
                <div style="display: inline-block; width: 300px;">
                    <div id="translate-to" class="custom-select">
                        <select autocomplete="off">
                            <option value="0">Pick language:</option>
                            {% for i, (id, language, flag) in languages %}
                                <option value="{{ id }}">
                                    {{ flag }} {{ language }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <p>
                    <button id="save-button" style="margin-top: 10px;" class="button button-disabled">Save</button>
                </p>
            </div>
        </div>
        <footer>
            <div>Copyright © 2021 – Elliot Paton-Simpson</div>
        </footer>
        {% include 'components/edit_languages.html' %}
    </body>
</html>

