<html>
    <head>
        <title>Prokart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script type="module" src="{{ url_for('static', filename='js/test/test.js') }}"></script>
    </head>

    <body style="margin: 0px; padding: 0px;">
        <script>0</script>
        {% include 'components/topbar.html' %}
        <div id="main" class="main" tabindex="-1" data-tabbable="false">
            <div style="margin-left: 5px;">
                <p>Select your sheet you would like to test:</p>
                <div class="input-box">
                    <input id="search-sheets" autocomplete="off" type="text" name="sheet query" value="{{ current_search }}"/>
                    <div class="magnifying-glass">🔍</div>
                </div>
                <div id="sheet-table-container" style="overflow-x: auto; overflow-y: hidden" tabindex="-1" data-tabbable="false">
                    <table id="sheets-table">
                        <tbody class="header-row">
                            <tr>
                                <th>Sheet</th>
                                <th>% Complete</th>
                                <th># Entries</th>
                            </tr>
                        </tbody>
                        <tbody class="main-rows" id="sheet-table-rows">
                            {% for sheet, completed, entries in sheets %}
                                <tr tabindex="0" style="cursor: pointer;">
                                    <td>{{ sheet }}</td>
                                    <td>{{ completed }}</td>
                                    <td>{{ entries }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            <tr tabindex="0" id="load-more-row" style="visibility: {{ 'visible' if load_more else 'collapse' }} ; cursor: pointer;">
                                <td colspan=3 class="center-full-row">Load more...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 10px;">
                    <button id="back-button" class="button" onclick="window.location.href = '/';">Back</button>
                </div>
            </div>
        </div>
        <footer>
            <div>Copyright © 2021 – Elliot Paton-Simpson</div>
        </footer>
        {% include 'components/pre_test_sheet.html' %}
    </body>
</html>
