<html>
    <head>
        <title>Prokart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/select_translator.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/test/test.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/test/pre_test_sheet.js') }}"></script>
    </head>

    <body style="margin: 0px; padding: 0px;">
        {% include 'components/topbar.html' %}
        <div id="main">
            <div style="margin-left: 5px;">
                <p>Select your sheet you would like to test:</p>
                <div class="input-box">
                    <input id="search-sheets" autocomplete="off" type="text" name="sheet query" value="{{ current_search }}" oninput="searchSheets()"/>
                    <div class="magnifying-glass">🔍</div>
                </div>
                <div id="sheet-table-container" style="overflow-x: auto; overflow-y: hidden">
                    <table id="sheets-table">
                        <tbody class="header-row">
                            <tr>
                                <th>Name</th>
                                <th>% Complete</th>
                                <th># Entries</th>
                            </tr>
                        </tbody>
                        <tbody class="main-rows" id="sheet-table-rows">
                            {% for sheet, completed, entries in sheets %}
                                <tr style="cursor: pointer;" onclick="testSheet(this)">
                                    <td>{{ sheet }}</td>
                                    <td>{{ completed }}</td>
                                    <td>{{ entries }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            <tr id="load-more-row" style="visibility: {{ 'visible' if load_more else 'collapse' }} ; cursor: pointer;" onClick="loadMoreSheets()">
                                <td colspan=3 class="center-full-row">Load more...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 10px;">
                    <button id="back-button" class="button" onclick="window.location.href = '/';">Back</button>
                </div>
            </div>
        </div>
        <footer>
            <div>Copyright © 2020 – Elliot Paton-Simpson</div>
        </footer>
        {% include 'components/pre_test_sheet.html' %}
    </body>
</html>
