<!doctype html>
<html style="height: 100%;">
    <head>
        <title>Prokart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/test/test_sheet.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/stars.js') }}"></script>
    </head>

    <body>
        {% include 'components/testbar.html' %}
        <audio id="correct-sound">
          <source src="/static/audio/correct.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <audio id="wrong-sound">
          <source src="/static/audio/wrong.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <div class="entire-test-area" tabindex="-1">
            <div class="test-area">
                <div>
                    <h1 id="sheet-name">{{ sheet_name }}</h1>
                    <div id="stars-container" style="height: 23px;"></div>
                    <p id="question-text"></p>
                    <div class="answer-area">
                        <div class="textarea-container">
                            <textarea id="answer-box" autocomplete="off" placeholder="Type your answer" onkeypress="hitEnterAnswerBox(this, event);" oninput="typeAnswerBox(this, event);"></textarea>
                        </div>
                        <div>
                            <button id="go-button" class="button button-disabled" style="float: right;">Check</button>
                            <div class="bar-chart-container">
                                <div class="bar-chart" style="width: 100%;"></div>
                                <div class="bar-chart-figure">100% complete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hide-screen" class="container-background container-background-opaque"></div>
        </div>
        <div id="try-again" class="alert" style="top: 20px; visibility: visible;">Check your spelling.</div>
        {% include 'components/wrong_answer.html' %}
    </body>
</html>
