div.backdrop {
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
}

div.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--colour-ash));
    border: 2px solid grey;
    border-radius: 10px;
    display: block;
    margin: auto;
    overflow: auto;
    padding: 15px;
}

div.popupbar {
    display: flex;
    border-bottom: 2px solid grey;
}

span.popupbartext {
    font-size: 32px;
    padding: 15px;
    font-weight: bold;
}

div.popupbarclose {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    font-size: 32px;
    display: block;
}

div.flagbutton {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 30px;
    border-style: solid;
    border-color: rgb(var(--colour-pearl-hover));
    border-width: 2px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 3px rgb(var(--colour-pearl));
    cursor: pointer;
}

div.flagbutton:hover {
    opacity: 0.8;
}

div.deletebutton {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(var(--colour-pearl), 0.2);
    user-select: none;
    z-index: 1;
}

div.deletebutton:hover {
    background-color: rgba(var(--colour-pearl), 0.5);
}

div.flagbuttoncontents {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

div.flag {
    font-size: 60px;
}
