div.header {
    font-weight: bold;
    font-size: 32px;
    padding-block: 10px;
}

div.section {
    font-size: 24px;
    padding-block: 10px;
}

.buttonVerticalMargin {
    margin-block: 20px;
}

label.toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

label.toggle input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
