.container {
    color: rgb(var(--colour-pearl));
    box-sizing: border-box;
    margin-left: var(--sidebar-width);
    height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    border-right: 2px solid grey;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgb(var(--colour-ash));
}

.mainpage {
    width: 100%;
    height: 100%;
}

div.vertical {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.inline {
    color: rgb(var(--colour-pearl));
    font-weight: bold;
}

div.buttonpadding {
    padding-block: 10px;
    text-align: center;
}

svg.padded {
    padding-block: 20px;
}
