:root {
    /* Colours */
    --colour-ash: 21, 21, 21;
    --colour-pearl: 240, 240, 240;
    --colour-pearl-hover: 240, 240, 240, 0.9;

    /* Dimensions */
    --sidebar-width: 250px;
}

body {
    background-color: rgb(var(--colour-ash));
    color: rgb(var(--colour-pearl));
    margin: 0;
}
