.centre {
    background-color: transparent;
    color: rgb(var(--colour-pearl));
    padding: 10px;
    min-width: 100px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-inline: 5px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 0 3px rgb(var(--colour-pearl));
    text-align: center;
    text-decoration: none;
}

button.centre:enabled {
    cursor: pointer;
    border-color: rgb(var(--colour-pearl));
    box-shadow: 0 3px rgb(var(--colour-pearl));
}

button.centre:disabled {
    cursor: not-allowed;
    border-color: rgb(var(--colour-pearl-hover));
    box-shadow: 0 3px rgb(var(--colour-pearl-hover));
}

button.centre {
    width: 324px;
}

a.centre {
    width: 300px;
}

.centre:hover {
    opacity: 0.8;
}
