<div id="delete-schemas-dialog-container-background" class="container-background container-background-transparent elevated-container hide" onkeydown="keyDownOnDeleteSchemaContainer(event);">
    <div class="dialog">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;" onclick="hideDeleteSchemaInterface();">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents">
            <h1>Delete schema</h1>
            <p id="schema-usage">Currently, no solutions use this schema.</p>
            <p>Confirm you wish to delete the schema by typing its name below:</p>
            <div id="delete-schema-name-div" style="margin-bottom: 10px;">
                <div class="input-box">
                    <input id="delete-schema-name" autocomplete="off" oninput="changeDeleteSchemaName();">
                </div>
            </div>
            <p>
                <div id="delete-schema-delete" class="button button-disabled">Delete</div>
                <div id="delete-schema-back" class="button" onclick="hideDeleteSchemaInterface();">Back</div>
            </p>
        </div>
    </div>
</div>
