<div id="edit-entry-container-background" class="container-background container-background-transparent hide" onkeydown="keyDownOnEditEntryContainer(event);">
    <div class="container">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;" onclick="hideEditEntryInterface();">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents">
            <h1>Edit entry</h1>
            <p>Question:</p>
            <div id="edit-entry-question-div">
                <div class="input-box">
                    <input id="edit-entry-question" autocomplete="off" oninput="changeEditEntryQuestion();">
                </div>
                <span id="message-edit-entry-already-exists" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Question already exists.</span>
                <span id="message-edit-entry-empty-question" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Must provide the entry a question.</span>
                <span id="message-edit-entry-long-question" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Question must be no more than 80 characters.</span>
            </div>
            <div style="display: inline-block; width: 300px; margin: 10px 0 10px 0;">
                <div id="edit-entry-schema-picker" class="custom-select">
                    <select autocomplete="off">
                        <option value="0">No schema:</option>
                        {% for id, schema in schemas %}
                            <option value="{{ id }}">{{ schema }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button id="edit-entry-new-schema" class="button" onclick="showSchemasInterface('edit', 'new');" style="margin-top: 20px;">+</button>
            <button id="edit-entry-edit-schema" class="button button-disabled" style="margin-top: 20px;">
                <img src="static/images/edit.svg" style="height: 24px; vertical-align: middle;"/>
            </button>
            <p id="edit-entry-answer-text">Answer:</p>
            <div id="edit-entry-answer-div">
                <div class="input-box">
                    <input id="edit-entry-answer" autocomplete="off" oninput="changeEditEntryAnswer();">
                </div>
                <span id="message-edit-entry-empty-answer" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Must provide the entry an answer.</span>
                <span id="message-edit-entry-long-answer" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Answer must be no more than 80 characters.</span>
            </div>
            <div id="edit-entry-answer-schema-div">
                <table id="edit-entry-answer-schema-table" class="schema-table hide">
                    <tbody id="edit-entry-answer-schema-body">
                        <tr>
                            <th id="edit-entry-answer-schema-columns-header" style="text-align: center;"></th>
                        </tr>
                        <tr id="edit-entry-answer-schema-columns"></tr>
                    </tbody>
                </table>
            </div>
            <p id="edit-entry-more-answers-text">More answers:</p>
            <div id="edit-entry-answers-table-container" style="overflow-x: auto; overflow-y: hidden">
                <table id="edit-entry-answers-table" class="selectable-table">
                    <tbody class="main-rows main-rows-alt">
                        <tr>
                            <td>
                                <input id="edit-entry-add-answer" placeholder="Add another" style="padding: 5px;" autocomplete="off" onkeypress="editEntryHitEnterAnotherAnswer(event);">
                            </td>
                            <td id="edit-entry-add-answer-button"><span class="add-row" onclick="editEntryAddRow();">➡</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>Search sheets:</p>
            <div class="input-box">
                <input id="edit-entry-search-sheets" autocomplete="off" class="search" placeholder="Search" oninput="editEntrySearchSheets();">
                <div class="magnifying-glass">🔍</div>
            </div>
            <div id="edit-entry-sheets-table-container" style="overflow-x: auto; overflow-y: hidden" tabindex="-1">
                <table id="edit-entry-sheets-table">
                    <tbody class="header-row">
                        <tr>
                            <th>Sheet</th>
                            <th>% Complete</th>
                            <th># Entries</th>
                        </tr>
                    </tbody>
                    <tbody id="edit-entry-sheet-table-rows" class="main-rows">
                        {% for sheet, entries, completed in sheets %}
                            <tr onclick="clickEditEntrySheet(this);" style="cursor: pointer;">
                                <td>{{ sheet }}</td>
                                <td>{{ entries }}</td>
                                <td>{{ completed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tbody id="edit-entry-sheet-table-hidden-rows" class="hidden-rows"></tbody>
                    <tbody>
                        <tr id="edit-entry-sheet-load-more-row" style="visibility: {{ 'visible' if load_more_sheets else 'collapse' }} ; cursor: pointer;" onClick="editEntryLoadMoreSheets()">
                            <td colspan=4 class="center-full-row">Load more...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                <button id="save-edit-entry" class="button">Save</button>
                <button class="button" onclick="hideEditEntryInterface();">Back</button>
            </p>
        </div>
    </div>
</div>
