<div id="languages-container-background" class="container-background container-background-transparent hide" onkeydown="keyDownOnLanguagesContainer(event);">
    <div class="container">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;" onclick="hideLanguagesInterface();">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents">
            <div id="add-language" class="boxed-area" style="margin-top: 10px;">
                <h2>Add language:</h2>
                <div class="input-box">
                    <input id="language-name" placeholder="Language name" oninput="changeLanguageName();" autocomplete="off"/>
                </div>
                <div style="display: inline-block; position: relative;">
                    <button id="choose-flag" class="flag-drop" onclick="expandFlags(this);">🇬🇧</button>
                </div>
                <div>
                    <button id="add-button" class="button button-disabled">Add</button>
                </div>
                <div id="hidden-flags" style="margin-top: 5px; border-top: 1px solid grey; width: 100%; padding-top: 5px; display: none;"></div>
            </div>
            <div>
                <button class="button" onclick="hideLanguagesInterface();">Back</button>
            </div>
        </div>
    </div>
</div>
