<div id="pre-test-sheet-container-background" class="container-background container-background-transparent hide" onkeydown="keyDownOnTestSheetContainer(event);">
    <div class="container">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents">
            <h1>Title</h1>
            <div class="bar-chart-container">
                <div class="bar-chart" style="width: 0%;"></div>
                <div class="bar-chart-figure">0% complete</div>
            </div>
            <div style="margin: 10px 0; display: flex; align-items: center; flex-direction: row;">
                <div style="display: inline-block;">Number of questions:</div>
                <div class="range-slider-container">
                    <input id="no-questions" class="range-slider" min="5" max="200" value="10" type="range" list="no-questions-options" oninput="updateNumberOfQuestions();">
                    <datalist id="no-questions-options">
                        <option value="5"></option>
                        <option value="10"></option>
                        <option value="15"></option>
                        <option value="20"></option>
                        <option value="30"></option>
                        <option value="50"></option>
                        <option value="100"></option>
                        <option value="200"></option>
                    </datalist>
                    <div id="no-questions-value">10</div>
                </div>
            </div>
            <p>
                <button id="go-button-container" class="button" onclick="goTestSheet();">Go!</button>
                <button id="back-button-container" class="button" onclick="hideTestSheetInterface();">Back</button>
            </p>
        </div>
    </div>
</div>
