<div id="pre-test-sheet-container-background" class="container-background container-background-transparent hide" onkeydown="keyDownOnTestSheetContainer(event);">
    <div class="container">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents">
            <h1>Title</h1>
            <div class="bar-chart-container">
                <div class="bar-chart" style="width: 0%;"></div>
                <div class="bar-chart-figure">0% complete</div>
            </div>
            <div style="margin-top: 10px;">
                <button id="go-button-container" class="button" onclick="goTestSheet();">Go!</button>
                <button id="back-button-container" class="button" onclick="hideTestSheetInterface();">Back</button>
            </div>
        </div>
    </div>
</div>
