<div id="schemas-container-background" class="container-background container-background-transparent elevated-container hide">
    <div class="container">
        <div class="title-bar">
            <div style="float: right; margin-right: 10px; margin-top: 5px;">
                <img src="{{ url_for('static', filename='images/close.svg') }}" style="height: 20px; width: 20px; cursor: pointer;"/>
            </div>
        </div>
        <div class="container-contents" tabindex="-1" data-tabbable="false">
            <h1 id="schema-heading">New schema</h1>
            <p>Schema name:</p>
            <div id="schema-name-div" style="margin-bottom: 10px;">
                <div class="input-box">
                    <input id="schema-name" autocomplete="off">
                </div>
                <span id="message-schema" class="hide" style="color: rgb(100, 0, 0); font-weight: bold;">Schema already exists.</span>
            </div>
            <div id="schema-skeleton" class="boxed-area">
                <table id="columns-subschema" class="schema-skeleton" data-id="-1">
                    <tbody>
                        <tr>
                            <th style="text-align: center;" colspan="3">
                                <span class="subschema-name">Columns</span>
                            </th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <span class="quality-name">Column 1</span><span class="edit-quality quality-remove">✖</span><span class="edit-quality quality-right">→</span>
                            </td>
                            <td>
                                <span class="edit-quality quality-left">←</span><span class="quality-name">Column 2</span><span class="edit-quality quality-remove">✖</span>
                            </td>
                            <td>
                                <span class="edit-quality quality-add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="add-remove-rows-subschema" class="button">Add rows</button>
                <table id="rows-subschema" class="schema-skeleton" style="visibility: collapse;" data-id="-1">
                    <tbody>
                        <tr>
                            <th style="text-align: center;" colspan="3">
                                <span class="subschema-name">Rows</span>
                            </th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <span class="quality-name">Row 1</span>
                                <span class="edit-quality quality-remove">✖</span>
                                <span class="edit-quality quality-right">→</span>
                            </td>
                            <td>
                                <span class="edit-quality quality-left">←</span>
                                <span class="quality-name">Row 2</span>
                                <span class="edit-quality quality-remove">✖</span>
                            </td>
                            <td>
                                <span class="edit-quality quality-add">+</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="schema-options" style="margin-top: 10px; margin-bottom: 10px;">
                <button id="swap-subschemas" class="button button-disabled">Swap subschemas</button>
                <button id="delete-schema" class="button hide">Delete</button>
            </div>
            <p>
                <button id="save-schema" class="button button-disabled">Save</button>
                <button id="back-schema" class="button">Back</button>
            </p>
        </div>
    </div>
</div>
{% include 'components/delete_schemas_dialog.html' %}
