<div id="testbar">
    <div id="testbar-left">
        <span tabindex="0">
            <svg width="50" height="25" style="margin: 12.5px 0;">
                <polygon points="
                0.0 12.5
                22.5 0.0
                22.5 7.5
                25.0 10.0
                47.5 10.0
                50.0 12.5
                50.0 15.0
                47.5 17.5
                25.0 17.5
                22.5 20.0
                22.5 25.0
                " style="fill: white;" />
            </svg>
        </span>
    </div>
    <div id="testbar-center">
        <div id="testbar-center-text">1 / 10</div>
    </div>
</div>
