<div class="sidebar">
    <div id="sidebar-left" class="sidebar-left">
        <div id="sidebar-left-home" tabindex="0">
            <img style="width: 40px; height: 40px;" src="{{ url_for('static', filename='images/logo-dark.svg') }}">
        </div>
    </div>
    <div id="sidebar-center" class="sidebar-center">
        <div id="sidebar-center-translator" class="sidebar-center-button" style="cursor: pointer;">
            {% if topbar|length > 0 %}
                {{ topbar[0][2] }}
                <span style="font-weight: bold;">→</span>
                {{ topbar[0][5] }}
            {% else %}
                Start!
            {% endif %}
        </div>
        {% if topbar|length > 0 %}
        <div class="sidebar-center-drop">
            {% for translator in topbar[1:] %}
                <div>
                    <div class="sidebar-center-button" data-lang-from="{{ translator[0] }}" data-lang-to="{{ translator[3] }}" style="cursor: pointer;">
                        {{ translator[2] }}
                        <span style="font-weight: bold;">→</span>
                        {{ translator[5] }}
                    </div>
                </div>
            {% endfor %}
            <div>
                <div class="sidebar-center-button" onclick="window.location = '/languages';" style="cursor: pointer;">
                    More
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
