:root {
    --base-color: #2e8bc0;
    --hover-color: #145da0;
    --disabled-color: #b1d4e0;
    --odd-row: #b1d4e0;
    --light-container: #c1e4f0;
    --bg-color: #F2F2FF;
    --even-row: #c1e4f0;
    --select-row: #0c2d48;
    --tooltip-color: #555;
    --topbar-button-width: 150px;
}

p {
    font-size: 18px;
}

body {
    margin-left: 0;
    margin-right: 0;
    font-family: "M PLUS Rounded 1c", "Montserrat", sans-serif;
}

.button {
    display: inline-block;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", "Montserrat", sans-serif;
    white-space: nowrap;
    border-radius: 2px;
    padding: 6px 20px;
    margin: 10px 2px 10px 2px;
}

.add-row,.trash-can {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover:not(.button-disabled) {
    background: var(--hover-color) !important;
}

.button.button-disabled {
    cursor: not-allowed;
}

.button:not(.button-disabled):not(:hover) {
    background: var(--base-color);
}

.button:not(.button-disabled) {
    cursor: pointer;
}

.button.button-disabled {
    background: var(--disabled-color);
}

span:focus {
    outline: 1px dotted grey;
    outline-offset: -1px;
}

span::-moz-focus-inner {
  border: 0;
}

.sidebar {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background: var(--base-color);
    z-index: 3;
}

.sidebar-left {
    float: left;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    float: left;
}

.sidebar-left>div {
    cursor: pointer;
    height: 40px;
}

.sidebar-center {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    height: 50px;
    width: var(--topbar-button-width);
}

.sidebar-center-button {
    line-height: 49px;
    border: none;
    color: white;
    width: var(--topbar-button-width);
}

.sidebar-center-button:not(:hover) {
    font-size: 23px;
}

.sidebar-center-drop > div:hover > .sidebar-center-button,.sidebar-center > .sidebar-center-button:hover {
    background-color: var(--hover-color);
    font-size: 25px;
}

.sidebar-center > .sidebar-center-drop {
    visibility: collapse;
}

.sidebar-center:hover > .sidebar-center-drop {
    visibility: visible;
}

.sidebar-center-drop > div {
    background-color: var(--base-color);
    width: var(--topbar-button-width);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.selectable-table tr:not(:last-child) {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

tbody.header-row > tr:not(.selected-row) {
    background: var(--odd-row);
}

tbody.main-rows:not(.main-rows-alt) > tr:nth-child(even):not(.selected-row) {
    background: var(--odd-row);
}

tbody.main-rows:not(.main-rows-alt) > tr:nth-child(odd):not(.selected-row) {
    background: var(--even-row);
}

tbody.main-rows.main-rows-alt > tr:nth-child(odd):not(.selected-row) {
    background: var(--odd-row);
}

tbody.main-rows.main-rows-alt > tr:nth-child(even):not(.selected-row) {
    background: var(--even-row);
}

tbody.main-rows>tr.selected-row {
    background: var(--select-row);
    color: white;
}

tbody.hidden-rows {
    visibility: collapse;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: var(--base-color);
    z-index: 2;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: var(--base-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-background:not(.elevated-container) {
    z-index: 300;
}

.container-background.elevated-container {
    z-index: 600;
}

.container-background-transparent {
    background-color: rgba(100, 100, 100, 0.8);
}

.container-background-opaque {
    background-color: white;
}

.container {
    position: absolute;
    max-width: 1050px;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    background: var(--bg-color);
}

.dialog {
    position: absolute;
    max-width: 500px;
    max-height: 300px;
    margin: auto;
    background: white;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-contents {
    position: absolute;
    overflow-y: auto;
    padding-left: 25px;
    padding-right: 25px;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
}

.input-box {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.input-box:not(.input-box-disabled) {
    background: white;
}

.input-box.input-box-disabled {
    background: #e0e0e0;
}

.input-box.incorrect {
    border: 2px red solid;
}

.input-box:not(.incorrect) {
    border: 1px grey solid;
}

.input-box.incorrect>input {
    text-decoration: line-through;
    color: red;
}

input {
    font-family: "M PLUS Rounded 1c", "Montserrat", sans-serif;
}

.input-box>input {
    font-size: 20px;
    border: none;
    overflow: hidden;
}

.input-box.short-input>input {
    width: 175px;
}

:not(.input-box)>input {
    border: none;
}

.magnifying-glass {
    float: right;
    margin-left: 5px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.hide {
    display: none;
}

.main {
    background: var(--bg-color);
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    position: fixed;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--base-color);
    left: 0;
    padding-left: 10px;
    height: 50px;
}

footer>div {
    margin: 10px 0 10px 0;
    color: white;
}

td.center-full-row {
    text-align: center;
    font-weight: bold;
}

.bar-chart-container {
    position: relative;
    margin: 0 0 5px 5px;
    height: 1.5em;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}

.bar-chart {
    position: absolute;
    background-color: var(--base-color);
    height: 1.5em;
    border-radius: 10px;
}

.bar-chart-figure {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

textarea {
    background-color: transparent;
    border: none;
    overflow: none;
    outline: none;
    box-shadow: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-family: "M PLUS Rounded 1c", "Montserrat", sans-serif;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.textarea-container {
    background: rgb(230, 230, 230);
    max-height: 200px;
    height: 150px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    padding: 5px;
}

.alert {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: rgba(100, 100, 100, 0.5);
    padding-bottom: 3px;
}

.test-area {
    max-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.test-area h1 {
    text-align: center;
    font-size: 40px;
}

.answer-area {
    margin: auto;
}

.answer-area:not(.answer-area-with-table) {
    max-width: 600px;
}

.question-text {
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.answer-area .bar-chart-container {
    float: right;
    margin-top: 17.5px;
    margin-right: 10px;
}

.testbar {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: var(--base-color);
    z-index: 150;
}

.testbar-left {
    height: 50px;
    display: block;
}

.testbar-left>span {
    margin: auto;
    padding: 0 20px;
    top: 50%;
    height: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: none;
}

.testbar-center {
    position: absolute;
    display: flex;
    margin: auto;
    height: 50px;
    top: 0px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.testbar-center-text {
    margin: auto;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.entire-test-area {
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.completed-colour {
    background-color: rgb(100, 255, 100)
}

.incomplete-colour {
    background-color: rgb(200, 200, 100)
}

.failed-colour {
    background-color: rgb(255, 100, 100)
}

.flag-drop-parent {
    margin-left: 5px;
    height: 43px;
    display: inline-block;
    position: relative;
}

.flag-drop {
    border: none;
    font-size: 1.8em;
    padding-left: 5px;
    padding-right: 25px;
    cursor: pointer;
}

.flag-drop:hover {
    background-color: white;
}

.flag-drop:not(.flag-drop-down):after {
    content: "";
    border: 6px solid transparent;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: 11px;
    right: 5px;
}

.flag-drop.flag-drop-down:after {
    content: "";
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 17px;
    right: 5px;
}

.flag-button {
    border: none;
    font-size: 33px;
    cursor: pointer;
    margin: 2px;
}

.flag-button-selected {
    background-color: blue;
}

.title-bar {
    background: var(--base-color);
    height: 30px;
}

.boxed-area {
    background: var(--light-container);
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

.tooltip {
    position: relative;

}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--tooltip-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.schema-skeleton > :first-child > tr {
  background-color: var(--base-color);
  color: white;
}

.schema-skeleton > :last-child > tr {
  background-color: var(--hover-color);
  color: white;
}

.schema-skeleton td:not(:hover) > .edit-quality {
  visibility: hidden;
}

.edit-quality {
  cursor: pointer;
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.quality-remove {
  color: red;
}

.schema-table th {
  background-color: var(--base-color);
  color: white;
}

.schema-table tr:nth-child(odd) td:not(.placeholder-cell) {
  background-color: var(--odd-row);
}

.schema-table tr:nth-child(even) td:not(.placeholder-cell) {
  background-color: var(--even-row);
}

.schema-table td:not(.placeholder-cell) {
  text-align: center;
}

.range-slider-container {
    display: inline-block;
    width: 50%;
    max-width: 500px;
    padding: 15px 15px 5px 15px;
    margin-left: 10px;
    background: var(--even-row);
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
}

.range-slider:not(:hover) {
    background: rgb(230, 230, 230);
}

.range-slider:hover {
    background: rgb(210, 210, 210);
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--select-row);
    border-radius: 15px;
    border: none;
}

.range-slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: var(--select-row);
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.range-slider-container>div {
    text-align: center;
    margin-top: 10px;
}

.correction-text {
    font-weight: bold;
    font-size: 20px;
}
