.correction {
    font-weight: bold;
    margin-right: 10px;
}

.incorrect {
    text-decoration: line-through;
    color: red;
}

.answerentry {
    font-size: inherit;
    font-family: inherit;
    width: 150px;
}
