h1, h2, p, th, td, div {
    font-family: "Palatino";
}

p {
    font-size: 18px;
}

body {
    margin-left: 0;
    margin-right: 0;
}

.button {
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Palatino;
    white-space: nowrap;
    border-radius: 2px;
    padding: 6px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-row,.trash-can {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover:not(.button-disabled) {
    background: rgb(210, 0, 0) !important;
}

.button.button-disabled {
    cursor: not-allowed;
}

.button:not(.button-disabled):not(:hover) {
    background: red;
}

.button:not(.button-disabled) {
    cursor: pointer;
}

.button.button-disabled {
    background: pink;
}

button:focus {
    outline: 1px dotted grey;
    outline-offset: -1px;
}

button::-moz-focus-inner {
  border: 0;
}

.sidebar {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background: rgb(50, 50, 50);
    z-index: 3;
}

.sidebar-left {
    float: left;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    margin-top: 2.5px;
    float: left;
}

.sidebar-center {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    height: 50px;
    width: 130px;
}

.sidebar-center-button {
    line-height: 50px;
    border: none;
    color: white;
    background-color: rgb(50, 50, 50);
    width: 130px;
    font-size: 23px;
    font-family: "Palatino";
}

.sidebar-center-button:hover {
    background: rgb(30, 30, 30);
    font-size: 25;
}

.sidebar-center > .sidebar-center-drop {
    visibility: collapse;
}

.sidebar-center:hover > .sidebar-center-drop {
    visibility: visible;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.selectable-table tr:not(:last-child) {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

tbody.header-row > tr:not(.selected-row) {
    background: rgb(240, 240, 240);
}

tbody.main-rows:not(.main-rows-alt) > tr:nth-child(even):not(.selected-row) {
    background: rgb(240, 240, 240);
}

tbody.main-rows:not(.main-rows-alt) > tr:nth-child(odd):not(.selected-row) {
    background: rgb(248, 248, 248);
}

tbody.main-rows.main-rows-alt > tr:nth-child(odd):not(.selected-row) {
    background: rgb(240, 240, 240);
}

tbody.main-rows.main-rows-alt > tr:nth-child(even):not(.selected-row) {
    background: rgb(248, 248, 248);
}

tbody.main-rows>tr.selected-row {
    background: lightgreen;
}

tbody.hidden-rows {
    visibility: collapse;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: rgb(100, 100, 100);
    z-index: 2;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: rgb(100, 100, 100);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
}

.container-background-transparent {
    background-color: rgba(100, 100, 100, 0.8);
}

.container-background-opaque {
    background-color: white;
}

.container {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    background: white;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    overflow: hidden;
}

.container-contents {
    position: absolute;
    overflow-y: auto;
    margin-left: 10px;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
}

.input-box {
    border: 1px grey solid;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    background: white;
}

.input-box>input {
    font-size: 20px;
    font-family: Palatino;
    border: none;
    overflow: hidden;
}

:not(.input-box)>input {
    border: none;
    font-family: Palatino;
}

.magnifying-glass {
    float: right;
    margin-left: 5px;
    font-size: 20px;
    font-family: Palatino;
    cursor: pointer;
}

.hide {
    display: none;
}

#main {
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    position: fixed;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: lightgrey;
    left: 0;
    padding-left: 10px;
    height: 50px;
}

td.center-full-row {
    text-align: center;
    font-weight: bold;
}

.bar-chart-container {
    position: relative;
    margin: 0 0 5px 5px;
    height: 1.5em;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}

.bar-chart {
    position: absolute;
    background-color: rgb(0, 255, 0);
    height: 1.5em;
    border-radius: 10px;
}

.bar-chart-figure {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

textarea {
    background-color: transparent;
    border: none;
    overflow: none;
    outline: none;
    box-shadow: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-family: Palatino;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.textarea-container {
    background: rgb(230, 230, 230);
    max-height: 200px;
    height: 150px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    padding: 5px;
}

.alert {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: rgba(100, 100, 100, 0.5);
    padding-bottom: 3px;
}

.test-area {
    max-width: 700px;
    max-height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.test-area:first-child {
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 5px;
}

.test-area h1 {
    text-align: center;
    font-size: 40px;
}

.answer-area {
    max-width: 600px;
    margin: auto;
}

#question-text {
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.answer-area .bar-chart-container {
    float: right;
    margin-top: 17.5px;
    margin-right: 10px;
}

#testbar {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(100, 0, 0);
    z-index: 150;
}

#testbar-left {
    height: 50px;
    display: block;
}

#testbar-left>button {
    margin: auto;
    padding: 0 20px;
    top: 50%;
    height: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: none;
}

#testbar-center {
    position: absolute;
    display: flex;
    margin: auto;
    height: 50px;
    top: 0px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#testbar-center-text {
    margin: auto;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.entire-test-area {
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.completed-colour {
    background-color: rgb(100, 255, 100)
}

.incomplete-colour {
    background-color: rgb(200, 200, 100)
}

.failed-colour {
    background-color: rgb(255, 100, 100)
}

.flag-drop {
    border: none;
    font-size: 33px;
    padding-right: 25px;
    cursor: pointer;
}

.flag-drop:hover {
    background-color: white;
}

.flag-drop:not(.flag-drop-down):after {
    content: "";
    border: 6px solid transparent;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: 10px;
    right: 5px;
}

.flag-drop.flag-drop-down:after {
    content: "";
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 5px;
}

.flag-button {
    border: none;
    font-size: 33px;
    cursor: pointer;
    margin: 2px;
}

.flag-button-selected {
    background-color: blue;
}
