name: Run quality gates
run-name: ${{ github.actor }} - Word Muncher
on: [push]
jobs:
  run-quality-gates:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install NPM
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Check formatting
        run: npx prettier --check .
      - name: Check linting
        run: npm run lint && npx markdownlint '**/*.md'
      - name: Check spelling
        run: npm run spellcheck
      - name: Build Word Muncher
        run: npm run build
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
